@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

/*CSS reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}
body {
  font-family: "Open Sans", sans-serif;
}

.container {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
}
.flex {
  display: flex;
}
.j-content-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}
.g-10 {
  gap: 10px;
}
/*Header*/
header {
  background-color: #ffff;
  color: #000000;
  padding: 10px 0;
}

ul {
  list-style: none;
}
a {
  text-decoration-line: none;
}

.logoHeader {
  height: 60px;
}

/*Main*/
/*First Section*/
.sectionFirst {
  background-color: #000000;
  color: #ffff;
  padding: 30px 140px;
}
/*Second Section*/
.sectionSecond {
  background-color: #0000ff;
  color: #ffff;
  padding: 30px 140px;
  text-align: center;
}

/*Footer*/
footer {
  background-color: #505050;
}
.footer-top {
  color: #ffff;
  padding: 30px 90px;
  background-image: url(./assets/img/dc-logo-bg.png),
    url(./assets/img/footer-bg.jpg);
  background-size: contain, cover;
  background-repeat: no-repeat;
  background-position: center right;
}
.footer-top .col {
  width: calc(100% / 6);
}
.footer-bottom {
  padding: 40px 0;
}

footer h3 {
  color: #ffff;
}
footer a {
  color: #b8b8b8;
}
button {
  background-color: #505050;
  border: 3px solid #0000ff;
  padding: 10px;
}

h3 {
  color: #0000ff;
  font-weight: bold;
}
